.grey {
    color: #fafafa; /* 98 */

    color: #F2F2F2; /* 95 */

    color: #CCCCCC; /* 80 */

    color: #B3B3B3; /* 70 */

    color: #999999; /* 60 */

    color: #737373; /* 45 */

    color: #404040; /* 25 */

    color: #262626; /* 15 */
}

.blue {
    color: #e5f0f6; /* 93 */

    color: #d9e9f2; /* 90 */

    color: #8ebed7; /* 70 */

    color: #68a8ca; /* 60 */

    color: #4e98c1; /* 53 */

    color: #2e6684; /* 35 */

    color: #21495e; /* 25 */

    color: #142c39; /* 15 */
}

.red {
    color: #f4d7db; /* 90 */

    color: #e49ba6; /* 75 */

    color: #d97382; /* 65 */

    color: #c8374d; /* 50 */

    color: #a02c3d; /* 40 */

    color: #641b26; /* 25 */

    color: #1c070b; /* 7 */
}