#board {
    border-radius: 1.5%;
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    background: #92DCE5;
}

.board-cell {
    border-radius: 7%;
    width: 50px;
    min-height: 50px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: xx-large;
    text-align: center;
}

#submit-word {
    background: #4B88A2;
    color: rgb(255, 255, 255);
}

#found-words-container {
    height: 320px;
    max-width: 300px;
}

#top-space {
    height: 50px;
}

#found-words {
    list-style-type: none;
    padding: 0px;
}

.scrollable {
    overflow-y: auto;
}

.selected {
    background: #1751B8;
}

.info-row {
    min-height: 20px;
}

#word-submission-container {
    max-width: 320px;
}

.delete-word {
    background: pink;
}

.score {
    background: lightblue;
}

#player-result {
    max-width: 200px;
    height: 300px;
    margin: 0px;
}