#board {
    border-radius: 1.5%;
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    background: #92DCE5;
    margin: auto;
}

.board-cell {
    border-radius: 7%;
    width: 50px;
    min-height: 50px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: xx-large;
    text-align: center;
}

#submit-word {
    background: #4B88A2;
    color: rgb(255, 255, 255);
}

#found-words-container {
    height: 320px;
    max-width: 250px;
}

#top-space {
    height: 50px;
}

#found-words {
    list-style-type: none;
    padding: 0px;
}

.info-row {
    min-height: 20px;
}

#word-submission-container {
    max-width: 320px;
    margin: auto;
}

.delete-word {
    background: pink;
}

.total-score {
    background: skyblue;
}

.score {
    background: lightblue;
    min-width: 21px;
}

.player-result {
    max-width: 200px;
    height: 300px;
    margin: 0px;
}

.player-result ol {
    list-style-type: none;
    padding: 0px;
}

#error-container {
    min-height: 30px;
    color: darkred;
}